html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #0d1117;
    color: #c9d1d9;
}

body {
    margin: 0;
    padding: 20px 0; /* Zaktualizowane, aby uwzględnić navbar */
}

.navbar {
    width: 100%;
    background-color: #161b22;
    border-bottom: 1px solid #30363d;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 20px; /* Zmiana z left na right dla pierwszego elementu */
}

.navbar-menu a {
    color: #c9d1d9;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #58a6ff;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 60px auto 0; /* Zaktualizowane, aby uwzględnić navbar */
    padding: 20px;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #c9d1d9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #30363d;
}

th {
    background-color: #21262d;
    font-weight: 600;
    color: #c9d1d9;
}

tr:nth-child(even) td {
    background-color: #161b22;
}

tr:hover td {
    background-color: #30363d;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th, td {
    border: none;
    transition: background-color 0.3s ease;
}

.highlight-text {
    color: #ffcc00 !important; /* Jasno pomarańczowy */
}

.highlight-red {
    color: #ff0000 !important; /* Czerwony */
}
